#title { /* Ian Onrust */
  font-family: 'EchotopiaRegular';
   font-weight: normal;
   font-style: normal;
  text-align: center;
  margin: 20px 0;
  background-color: #f0f0f0;
  padding: 10px 0;
  width: 100%;
  position: relative;
}
/* Styles the footer - Devin Graupmann */
.footer {
  font-family: 'EchotopiaRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 1vh 0;
  background-color: #f0f0f0;
  padding: 1vh 0;
  width: 100%;
  position: relative;
}

/* Container centers content vertically and horizontally - Ian Onrust */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: auto;
  width: 80%; 
} 

/* Sets the layout for the rows - Ian Onrust */
.row {
  display: flex;
  width: 100%;
  margin: 0;
}

/* Style for white squares - Ian Onrust */
.white {
  border: 1px solid black;
  width: 12.5%;
  height: 9vh;
  background-color: white;
  box-sizing: border-box;
}

/* Style for black squares - Ian Onrust */
.black {
  border: 1px solid black;
  width: 12.5%;
  height: 9vh;
  background-color: #787878;
  box-sizing: border-box;
}

/* Important to clear floated elements for future use - Ian Onrust */
.clear {
  clear: both;
}

/* Sets the size and spacing for each chess piece - Devin Graupmann  */
.chess-piece {
  width: 35%;
  margin-left: 30%;
  margin-top: 5%;
}

/* Sets the background image for the body and ensures it covers the entire viewport - Devin Graupmann */
body{
  background-image: url('../a2/images/Background.jpg');
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

/* Centers Vertically - Devin Graupmann */
.vert-center {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  width: 100%;
}
